* {
  margin: 0px;
  padding: 0px;
}

.container {
  width: 700px;
  margin: 0 auto;
}

body {
  color: white;
  background-color: #111827;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

h1 {
  color: #23D3ED;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 2px;
  padding: 20px 0px;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 36px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 18px;
  margin: 16px 0px 48px;
}

.card-heading {
  text-align: center;
}

.card-heading img {
  height: 300x;
  width: 300px;
  border-radius: 50%;
  margin-bottom: 40px;
  border: solid #23d3ed 0.1px;
  box-shadow: 0px 0px 56px #23d3ec;
  transition-property: box-shadow;
  transition-duration: 0.25s;
}

.card-heading img:hover {
  box-shadow: 0px 0px 80px #23d3ec;
  border-radius: 50%;
}

#hinge {
  color: #374151;
  font-size: 12px;
  margin: 8px;
}

.card-heading ol {
  padding: 0px 20px;
  list-style: none;
  margin-bottom: 60px;
}

.card-heading ol li {
  font-size: 18px;
  margin: 8px;
}

.btn-blue {
  color: #353C4C;
  font-weight: 600;
  text-decoration: none;
  background-color: #23D3ED;
  transition: font-size;
  transition-duration: 0.08s;
  width: 32px;
  height: 24px;
  padding: 18px 14px;
  border-radius: 8px;
  margin-top: 24px;
}

.btn-blue:hover {
  color: #050409;
  font-size: 20px;
}

.card-blue {
  text-align: center;
  margin-top: 80px;
}

.card-blue img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin-bottom: 40px;
  border: solid #23d3ed 0.1px;
  box-shadow: 0px 0px 56px #23d3ec;
  transition-property: box-shadow;
  transition-duration: 0.25s;
}

.card-blue img:hover {
  box-shadow: 0px 0px 80px #23d3ec;
  border-radius: 50%;
}

#img-red {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin-bottom: 40px;
  border: solid #F85E00 0.1px;
  box-shadow: 0px 0px 56px #F85E00;
  transition-property: box-shadow;
  transition-duration: 0.25s;
}

#img-red:hover {
  box-shadow: 0px 0px 80px #F85E00;
  border-radius: 50%;
}

#img-yellow {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin-bottom: 40px;
  border: solid #FCEC52 0.1px;
  box-shadow: 0px 0px 56px #FCEC52;
  transition-property: box-shadow;
  transition-duration: 0.25s;
}

#img-yellow:hover {
  box-shadow: 0px 0px 80px #FCEC52;
  border-radius: 50%;
}

#img-purple {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin-bottom: 40px;
  border: solid #7041E6 0.1px;
  box-shadow: 0px 0px 56px #7041E6;
  transition-property: box-shadow;
  transition-duration: 0.25s;
}

#img-purple:hover {
  box-shadow: 0px 0px 80px #7041E6;
  border-radius: 50%;
}

.card-social {
  width: 700px;
  height: 140px;
  text-align: center;
  margin: 80px 0px;
  background-color: #111827;
  border: #23D3ED solid 0.9px;
  border-radius: 12px;
  box-shadow: 0px 0px 20px #23d3ec;
  transition-property: box-shadow;
  transition-duration: 0.25s;
}

.card-social:hover {
  box-shadow: 0px 0px 40px #23d3ec;
}

.card-social h3 {
  margin: 20px;
}

ul {
  padding: 0px 0px 0px 24px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
  list-style: none;
  padding-left: 0px;
  line-height: 40px;
  font-size: 40px;
}

i {
  color: #374151;
  transition: font-size;
  transition-duration: 0.08s;
}

i:hover {
  color: #23D3ED;
  font-size: 48px;
  margin-bottom: 24px;
}

#beam {
  position: absolute;
  z-index: -5;
  width: 1400px;
  height: 700px;
}

.img-left {
  position: absolute;
  z-index: -1;
  opacity: 0.4;
  width: 400px;
  height: 350px;
}

.img-right {
  position: absolute;
  right: 0px;
  z-index: -1;
  opacity: 0.4;
  width: 450px;
  height: 350px;
}

.card-social {
  position: sticky;
  width: 700x;
  margin: 80px auto;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 400px;
  }
}
